<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>JerseyApplication</filter-name>
        <filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>

        <init-param>
            <!--
            <param-name>javax.ws.rs.Application</param-name>

            <param-name>jersey.config.server.provider.packages</param-name>
            <param-name>jersey.config.server.provider.scanning.recursive</param-name>

            <param-name>jersey.config.server.provider.classnames</param-name>
            -->
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>jersey.Application</param-value>
        </init-param>

    </filter>

    <filter-mapping>
        <filter-name>JerseyApplication</filter-name>
        <url-pattern>/jersey/*</url-pattern>
    </filter-mapping>

</web-app>
